*{
  font-size: 1.1rem;
}
body {
  display: flex;
  justify-content: center;
  padding: 0px;
  width: 100%;
}

.body0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1px; 
}
  
.body1   {
    display: flex;
    justify-content: center;
    margin:5rem;
    height: 100vh;
    width: 80vh;
    
}

.header {
    background: white;
    padding:10px;
    display:flex;
    flex-direction: row;
   
}
.button-options{
  display:flex;
  justify-content:flex-end;
  width: 75%;
}
.post{
  display: flex;
  flex-direction: column;
  align-content: center;
  background: white;
  
  
}
.intercative{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 50px;
  }
.likes-options{
  width:30%;
  display:flex;
  
}
.save{
  width:60%;
  display:flex;
  justify-content:flex-end;
  
}
.fa:hover{
  background-color: aqua;
  border-radius: 30%;
  padding: 0px 3% ;
}
/* en esta linea comienza la animacion del post*/
@keyframes show {
  from{
    opacity: 0;
    scale:25%;
  }  
  to {
    opacity : 1 ;
    scale: 100%;
  }

}
.post {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 0% cover 60%;
}
.logo {
  border-radius: 30%;
}
.containernames{
  padding-left: 20px;
}
.title{
  font-weight: bold;
}
.post > img{
  max-height: 100vh;
  max-width: auto;
  object-fit: cover;
}