@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  text-align:justify;
  color: white;
}
body {
  display: flex;
  justify-content: center;
  padding: 0px;
  width: 100%;
  background-color: black;
}

.body0 {
  max-width:min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
.body1   {
    display: flex;
    justify-content: center; 
    max-height: 130vh;
    width: 80vh;
    background-color:rgba(15, 169, 180, 0.04); 
}

.header {
    background-color:rgba(0, 234, 255, 0.032);  
    padding:15px;
    display:flex;
    flex-direction: row;
}
.button-options{
  display:flex;
  justify-content:flex-end;
  width: 75%;
}
.post{
  display: flex;
  flex-direction: column;
  align-content: center;
}
.intercative{
  background-color:rgba(12, 43, 45, 0.09);    
  
  padding:15px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: end;
  }
.likes-options{
  width:30%;
  display:flex;
}
.save{
  width:60%;
  display:flex;
  justify-content:flex-end;
}
.fa:hover{
  background-color: rgba(8, 243, 255, 1);
  border-radius: 30%;
  padding: 0px 3% ;
}
/* en esta linea comienza la animacion del post*/
@keyframes show {
  from{
    opacity: 0;
    scale:25%;
  }  
  to {
    opacity : 1 ;
    scale: 100%;
  }

}
.post {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 0% cover 70%;
}
.logo {
  border-radius: 30%;
}
.containernames{
  padding-left: 20px;
}
.title{
  font-weight: bold;
}
.post > img{
  max-height: 130vh;
  max-width: auto;
  object-fit: cover; 
}
.separator{
  height: 10px;
  width: auto;
  background-color: black;
}